# Java
*.class
## Mobile Tools for Java (J2ME)
.mtj.tmp/
## Package Files #
*.jar
*.war
*.ear
## virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
*.orig
.pmd
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
